# CLOUD_NAME = "your cloud name here" # Cloud name from cloudinary
# API_KEY = "your api key here" # API key from cloudinary
# API_SECRET = "your api secret here" # API secret from cloudinary

Make a cloudinary account here: https://cloudinary.com/users/register/free
You can find your cloud name, api key and api secret here: https://cloudinary.com/console
